* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/Combined\ Shape.png);
    position: relative;
  }
}

iframe {
  width: 100%;
  height: 640px;
}

div.data {
  width: 1110px;
  height: 161px;
  background-color: white;
  position: absolute;
  top: 200px;
}
