@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

main {
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/Combined\ Shape.png);
    position: relative;
    padding-top: 33px;
  }
}

iframe {
  width: 100%;
  height: 640px;
}

div.data {
  width: 1110px;
  height: 161px;
  background-color: white;
  position: absolute;
  top: 200px;
  display: flex;
  padding: 37px 32px 36px 32px;
  .text2 {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      font-size: 26px;
      font-weight: 500;
    }
    span {
      font-size: 12px;
      color: rgb(150, 150, 150);
      font-weight: 600;
      letter-spacing: 1.75px;
      margin-bottom: 13px;
    }
  }
  div.line {
    width: 1px;
    height: 75px;
    background-color: rgb(217, 217, 217);
    margin-left: 32px;
    margin-right: 32px;
  }
}

h1 {
  color: white;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 31px;
}

div.position_input {
  display: flex;
  position: relative;
  input {
    width: 555px;
    font-size: 18px;
    padding: 18px 0 18.67px 24px;
    border-radius: 15px;
    border: none;
    outline: none;
  }

  div.arrow {
    background-color: black;
    height: 58px;
    width: 58px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  div.arrow:hover {
    background-color: #3f3f3f;
  }
}
