* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  height: 500px;
  width: 600px;
  background-color: darkseagreen;
  position: relative;

  .absolute {
    width: 200px;
    height: 200px;
    background-color: rgb(113, 48, 48);
    position: absolute;
    top: 350px;
    left: 20px;
  }
  .second_absolute {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
  }

  .basic {
    width: 300px;
    height: 300px;
    background-color: brown;
  }
}
